* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}


.header {
  background-color: #B2D6FF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.sort-container {
  width: 100px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content:space-between;
}

.card-container {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #F00;

}

.card-header {
  border: 1px solid #F37;
  display: flex;
  justify-content: space-between;
}

.card-header-hold {
  /*border: 1px solid #F70;*/
  display: flex;
}

.card-logo {
  display: flex;
  flex-direction: column;

}

.card-content {
  display: flex;
  width: 300px;
}

.brand {
  display: flex;
  flex-direction: column;
}

.button {
  border: 1px solid #064;
  border-radius: 4px;
}

.navlinks {
    flex-direction: column;
    display: flex;
    justify-content:space-between;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 85%;
    margin: 0 auto;
  }
}
